<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PathCookie" value="D:\Proyectos\CREATIO\RAISING CANES\guest-page-rasingcanes\CookieData"/>
    <add key="ServerUriUsr" value="https://raisingcanes.creatio.com"/>
    <add key="UserOData" value="Supervisor"/>
    <add key="PassOData" value="Uu2_s3zns08D"/>
    <add key="ContactId" value="410006e1-ca4e-4502-a9ec-e54d922d2c00"/>
    <add key="AddressTypeId" value="fb7a3f6a-f36b-1410-6f81-1c6f65e50343"/>  
    <add key="CountryId" value="e0be1264-f36b-1410-fa98-00155d043204"/>  
    <add key="FileTypeId" value="529bc2f8-0ee0-df11-971b-001d60e938c6"/>  
    <add key="ImportSourceID" value="cf558acf-7792-4f8b-bfcd-a0960849f0a1"/>    
    <add key="AddressOrgId" value="edbfdd08-96f8-4a9a-b636-808ae93677d0"/>
    <add key="AddressAtRestaurantId" value="8c4aaf82-1a32-42f2-bade-30247d276594"/>
    <add key="AddressOtherID" value="91bf9e7a-9ffd-45df-b972-22c08e02497e"/>
    <add key="SizeLimitMB" value="10"/>
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647"/>
    <httpModules/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>          
         <requestLimits maxAllowedContentLength="4294967295" />
       </requestFiltering>
     </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules/>
  </system.webServer>
</configuration>